<div class="container mt-3 border rounded p-3">
  <div class="form-group">
    <label for="numeroInput">Escolha um número</label>
    <input class="form-control" id="numeroInput" placeholder="Escolha um número" [(ngModel)]="numero">
  </div>
  <div class="alert alert-primary mt-3 p-3 text-center">{{numero}}</div>
  <button type="button" class="btn btn-primary" (click)="escolher()">Escolher para mim</button>
</div>

<!-- <div class="container mt-3 p-5 border">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input type="text" class="form-control mb-2" id="nomeInput" placeholder="Digite um nome" #nomeInput>
    </div>
  </form>
  <button type="button" class="btn btn-primary" (click)="adicionar(nomeInput.value)">Adicionar</button>
  <div [hidden]="esconderCaixa" class="alert alert-primary mt-3 p-3">
    {{nome}}
  </div>
</div> -->